InteractionLayer/ArmInteractionLayer/Temp
InteractionLayer/ArmInteractionLayer/Logs
InteractionLayer/ArmInteractionLayer/Library/ShaderCache
InteractionLayer/ArmInteractionLayer/Library/StateCache
InteractionLayer/ArmInteractionLayer/Library/StateCache
InteractionLayer/ArmInteractionLayer/Library/metadata
shadercompiler*
InteractionLayer/ArmInteractionLayer/Library
